language: node_js
os:
  - linux
node_js:
  - lts/*
install:
  - npm ci 
script:
  - npm run build:prod 
  - cp README.md dist/
  - cp assets.gif dist/
  - cp LICENSE dist/
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: dist
  github_token: $GITHUB_TOKEN # 在 GitHub 中生成，用于允许 Travis 向你的仓库推送代码。在 Travis 的项目设置页面进行配置，设置为 secure variable
  keep_history: true
  target_branch: build
  on:
    branch: master
